<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.dao.LibararyDao">
	
	<select id="query" resultType="Map">
		select libid id,lname text,url,icon iconCls from libarary where parentlibid=#{0}
	</select>
<select resultType="Map" id="queryByRid"> 
select libid id,lname text,url,icon iconCls from (SELECT * FROM libarary WHERE libid in (SELECT lid FROM role_lib WHERE rid = #{1})) l where parentlibid=#{0} 
</select>
<select resultType="Map" id="queryPage"> 
	SELECT l.libid id,l.lname,url,l.icon icon,l.parentlibid _parentId,
	l.parentlibid,u.uname upname,u.uid,l.uptime uptime from libarary l 
	left join manager u on u.rid=l.rid
<if test="param1 != null and param2 != null"> limit #{0},#{1} </if> 
</select> 
<insert id="addNode" parameterType="Map"> 
<selectKey resultType="int" order="BEFORE" keyProperty="libid" keyColumn="libid"> 
SELECT if(ISNULL(max(libid))=1,${parentlibid}*100+1,max(libid)+1) from libarary WHERE parentlibid=#{parentlibid}
</selectKey> 
insert into libarary values(#{libid},#{lname},#{url},#{icon},#{parentlibid},#{uid},now())
</insert>
<update id="updateNode" parameterType="Map">
	update libarary
	<set>
		<if test="param1 != null">
			lname=#{lname},
		</if>
		<if test="param2 != null">
			url=#{url},
		</if>
		<if test="param3 != null">
			parentlibid=#{parentlibid},
		</if>
		<if test="param4 != null">
			uid=#{uid},
		</if>
		where libid=#{libid}
	</set>
</update>
</mapper>
