<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.dao.Order_FaultMapper">
<resultMap id="BaseResultMap" type="com.aaa.entity.Order">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <id column="fault_id" jdbcType="INTEGER" property="faultId" />
  </resultMap>
   <insert id="add" parameterType="com.aaa.entity.Order_Fault">
  		<selectKey keyColumn="orderId" keyProperty="orderId" order="BEFORE" resultType="Integer">
			SELECT max(order_id) order_id FROM `order`
	</selectKey>
	insert into order_fault (fault_id,order_id) values(#{faultId},#{orderId})
  	</insert>
  	<select id="query" resultType="map" parameterType="Order_Fault">
  	select of.*,o.*,f.*,m.*,ft.*,
f.fault_name faultName,m.model_name modelName,ft.type_name typeName
from order_fault of
RIGHT join `order` o
on of.order_id=o.order_id
left join fault f
on of.fault_id=f.fault_id
left join fault_type ft
on f.type_id=ft.type_id
left join model m
on f.model_id=m.model_id
where of.order_id=#{orderId}
  	</select>
</mapper>
